@import '../../scss/color';

.todo__add {
	width: 100%;
	padding: 18px 30px;
	line-height: 24px;
	font-size: 24px;
	background-color: $white;
	border: 2px solid $grey30;
	color: $grey30;
	box-sizing: border-box;
	text-align: left;
	cursor: pointer;
}