@import '../../scss/color';

.todo {
	width: 100%;
	margin: 24px 0;
	&__add {
		width: 100%;
		padding: 18px 30px;
		line-height: 24px;
		font-size: 24px;
		background-color: $white;
		border: 2px solid $grey30;
		color: $grey30;
		box-sizing: border-box;
		text-align: left;
		cursor: pointer;
	}
	&__title {
		height: 76px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 32px;
		background-color: $grey10;
		margin-bottom: 3px;
		> div {
			display: flex;
			align-items: center;
			.checkbox {
				margin-right: 16px;
			}
			&:last-child {
				font-size: 24px;
				svg {
					&:first-child {
						margin-right: 32px;
					}
				}
			}
		}
		&-input {
			font-size: 24px;
			background-color: transparent;
			line-height: 28px;
			border: 0;
			width: 400px;
			&::placeholder {
				color: $black;
			}
		}
	}
	&__content {
		background-color: $grey10;
	}
	&__footer {
		display: flex;
	}
}
