@import '../../scss/color';
.todo-bar {
	width: 100%;
	height: 102px;
	box-sizing: border-box;
	padding: 24px 32px 16px 32px;
	background-color: $grey10;
	cursor: pointer;
	&--important {
		background-color: $light-orange;
	}
	&__title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 18px;
		> div {
			display: flex;
			align-items: center;
			.checkbox {
				margin-right: 16px;
			}
			&:last-child {
				font-size: 24px;
				svg {
					&:first-child {
						margin-right: 32px;
					}
				}
			}
		}
		&-text {
			font-size: 24px;
			background-color: transparent;
			line-height: 28px;
			border: 0;
			width: 350px;
			text-align: left;
			&--checked {
				color: #C8C8C8;
				text-decoration:line-through;
			}
		}
	}
	&__icon {
		text-align: left;
		svg {
			color: $grey50;
			margin-right: 8px;
			&:first-child{
				margin-left: 40px;
			}
		}
		span {
			color: $grey50;
			margin-right: 8px;
		}
	}
}