$light-blue: #4A90E2;
$deep-blue: #00408B;
$red: #D0021B;
$light-orange: #FFF2DC;
$deep-orange: #F5A623;
$grey10: #F2F2F2;
$grey30: #C8C8C8;
$grey50: #757575;
$grey: #E1E1E1;
$white: #fff;
$black: #000;